@font-face {
  font-family: 'Gotham HTF';
  src: url('/fonts/GothamHTF-Book.woff2') format('woff2'),
    url('/fonts/GothamHTF-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham HTF';
  src: url('/fonts/GothamHTF-Bold.woff2') format('woff2'),
    url('/fonts/GothamHTF-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham HTF';
  src: url('/fonts/GothamHTF-Medium.woff2') format('woff2'),
    url('/fonts/GothamHTF-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

::selection {
  background: #81CDF2;
}

.serif {
  font-family: 'Neuton', serif;
  font-weight: 300;
}

h2,
.h2 {
  font-family: 'Neuton', serif;
  font-size: 48px;
  line-height: 60px;
  font-weight: 300;
  &.heading {
    position: relative;
    width: 100%;
    text-align: center;
    margin: var(--spacing-desktop-2-s) 0 var(--spacing-desktop-s);
    &:after {
      content: "";
      position: absolute;
      top: calc(100% + 10px);
      left: calc(50% - 30px);
      height: 2px;
      width: 60px;
      background-color: $lighter-gray;
    }
  }
}

h3,
.h3,
blockquote {
  font-family: 'Neuton', serif;
  font-size: 28px;
  line-height: 44px;
  font-weight: 300;
}

h4,
.h4 {
  font-weight: 600;
  text-transform: uppercase;
}

h5,
.h5 {
  //
}

h6,
.h6 {
  color: $light-gray;
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.yellow {
  color: $yellow;
}

.red {
  color: $red;
}

.gray {
  color: $gray;
}

@media (max-width: $breakpoint-m) {
  h2,
  .h2 {
    font-size: 36px;
    line-height: 44px;
    &.heading {
      margin: 80px 0 var(--spacing-desktop);
    }
  }

  h3,
  .h3,
  blockquote {
    font-size: 22px;
    line-height: 32px;
  }
}
