$border-radius: 3px;

$transition: cubic-bezier(0.4, 0, 0.2, 1);
$transition-in: cubic-bezier(0, 0, 0.2, 1);
$transition-out: cubic-bezier(0.4, 0, 1, 1);

$fast: 125ms;
$medium: 200ms;
$slow: 300ms;

$input-border-width: 2px;

$black: #000;
$darkest-gray: #263238;
$darker-gray: #37474f;
$dark-gray: #546e7a;
$gray: #78909c;
$light-gray: #90a4ae;
$lighter-gray: #cfd8dc;
$lightest-gray: #eceff1;
$off-white: #f9fafa;
$white: #fff;

$blue: #039be5;
$green: #4caf50;
$yellow: #ff9800;
$red: #f44336;

$breakpoint-xs: 400px;
$breakpoint-s: 600px;
$breakpoint-m: 800px;
$breakpoint-l: 1000px;
$breakpoint-xl: 1200px;

$spacing-desktop: 40px;

:root {
  --spacing-desktop-s: 40px;
  --spacing-desktop-2-s: 80px;
  --spacing-desktop-3-s: 120px;
  --spacing-desktop-4-s: 160px;

  --spacing-desktop: 40px;
  --spacing-desktop-2: 80px;
  --spacing-desktop-3: 120px;
  --spacing-desktop-4: 160px;
  @media (max-width: $breakpoint-m) {
    --spacing-desktop: 30px;
    --spacing-desktop-2: 60px;
    --spacing-desktop-3: 90px;
    --spacing-desktop-4: 120px;
  }
  @media (max-width: $breakpoint-s) {
    --spacing-desktop: 20px;
    --spacing-desktop-2: 40px;
    --spacing-desktop-3: 60px;
    --spacing-desktop-4: 80px;
  }
}
