$border-radius: 3px;

$transition: cubic-bezier(0.4, 0, 0.2, 1);
$transition-in: cubic-bezier(0, 0, 0.2, 1);
$transition-out: cubic-bezier(0.4, 0, 1, 1);

$fast: 125ms;
$medium: 200ms;
$slow: 300ms;

$input-border-width: 2px;

$black: #000;
$darkest-gray: #263238;
$darker-gray: #37474f;
$dark-gray: #546e7a;
$gray: #78909c;
$light-gray: #90a4ae;
$lighter-gray: #cfd8dc;
$lightest-gray: #eceff1;
$off-white: #f9fafa;
$white: #fff;

$blue: #039be5;
$green: #4caf50;
$yellow: #ff9800;
$red: #f44336;

$breakpoint-small: 600px;
$breakpoint-medium: 800px;
$breakpoint-large: 1000px;
$breakpoint-extra-large: 1200px;

$spacing-desktop: 40px;
